<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039722612555-48n5u5nf8ckq9c8blv1tea9krv7l4thd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039722612555-48n5u5nf8ckq9c8blv1tea9krv7l4thd</string>
	<key>API_KEY</key>
	<string>AIzaSyBIuEpNGxi6uWtzh3Qyr77uXt2KJXgqiuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1039722612555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseProject</string>
	<key>PROJECT_ID</key>
	<string>firestore-example-e3072</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-example-e3072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039722612555:ios:99fed84a89b38bc85e0ace</string>
</dict>
</plist>